[Unit]
Description=Notify if battery is low

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '%h/.config/scripts/battery-alert.sh'

[Install]
WantedBy=basic.target
