@import "mocha.css";

* {
    font-family: "JetBrainsMono NF Mono Bold";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    background-color: @crust;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
    /* border: 1px solid @overlay1; */
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover:not(.active) {
    background: inherit;
    color: @mauve;
    background-color: @blue;
    /* padding-top: 2px; */
    /* border-top: 2px solid @mauve; */
}


#workspaces button:hover:not(.active) {
    color: @white;
    background-color: rgba(137, 180, 250, 0.5);
    /* padding-top: 2px; */
    /* border-top: 2px solid @mauve; */
}

#workspaces button {
    min-width: 15px;
    color: @mauve;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
}

#workspaces button.active {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: @mauve;
    color: @crust;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: @crust;
}

#pulseaudio,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#idle_inhibitor,
#network,
#custom-vpn,
#custom-language,
#mode,
#power-profiles-daemon,
#scratchpad {
    font-family: "Hack Nerd Font";
    min-width: 30px;
    transition-property: color;
    transition-duration: 0.1s;
    color: @white;
}

#custom-vpn {
    padding-right: 4px;
}

#tray {
    /* border-right: 2px solid @mauve; */
    /* padding-right: 10px; */
}

#pulseaudio:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#wireplumber:hover,
#tray:hover,
#idle_inhibitor:hover,
#network:hover,
#custom-vpn:hover,
#custom-language:hover,
#mode:hover,
#power-profiles-daemon:hover,
#scratchpad:hover {
    color: @mauve;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#clock {
    font-family: "Hack Nerd Font";
    color: @blue;
}

#idle_inhibitor {
    color: @overlay0;
    /* padding-right: 20px; */
    /* border-right: 2px solid @mauve; */
    transition-property: color, background-color;
    transition-duration: 0.1s;
    margin-left: 0;
    padding-right: 1px;
}

#idle_inhibitor:hover {
    color: @white;
}

#idle_inhibitor.activated {
    margin-left: 1px;
    padding-right: 0;
    color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-icon {
    color: @blue;
    font-size: 20px;
    padding: 0 15px;
    transition-property: color, background-color, border-radius;
    transition-duration: 0.2s;
}

#custom-icon:hover {
    color: @white;
    /* border-radius: 10px 0 0 10px; */
}

#temperature.critical {
    color: @red;
}

#custom-vpn.inactive {
    color: @overlay0;
}

#custom-vpn.active {
    color: @green;
}
